.button {
  align-items: center;
  border: medium solid var(--COLOR-NAVBAR-BACKGROUND);
  color: var(--COLOR-TEXT);
  display: inline-flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}

.button:hover {
  background: var(--COLOR-NAVBAR-ACTIVE);
}
