.list {
  display: grid;
  justify-items: center;
}

.list_play {
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
}

.list_video {
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
