.toast {
  background: var(--COLOR-NAVBAR-BACKGROUND);
  box-shadow: 0.2rem 0.2rem 1rem 1rem var(--COLOR-SLATE-600);
}

.toast > * {
  color: var(--COLOR-TEXT);
}

.toast a {
  color: var(--COLOR-PRIMARY);
}

.toast a:hover {
  color: var(--COLOR-PRIMARY-DARK-SHADE);
}

.toast svg {
  height: 1.8rem;
  margin: auto;
  width: 1.8rem;
}
