.playlistCard {
  max-width: 24rem;
}

.playlistCard a:hover {
  color: var(--COLOR-TEXT);
}

.playlistCard h2 {
  -webkit-line-clamp: 1;
}

.playlistCard_loading {
  width: 24rem;
}

.playlistCard_loading span {
  background: var(--COLOR-NAVBAR-ACTIVE);
}

.videoCount_playlist {
  background: var(--COLOR-NAVBAR-BACKGROUND-LIGHT);
  right: 0;
  top: 0;
  width: 40%;
}

.playlistCard img,
.playlistCard_loading > span:nth-child(1) {
  height: 15rem;
}

/* media query for --SM-BREAKPOINT */

@media screen and (max-width: 450px) {
  div:is(.playlistCard, .playlistCard_loading) {
    margin: auto;
  }
}
