.categoryChip_container {
  background: var(--COLOR-MAIN-BACKGROUND);
  border-bottom: thin solid var(--COLOR-NAVBAR-ACTIVE);
  overflow-x: auto;
  position: sticky;
  top: 8.1rem;
  white-space: nowrap;
  z-index: var(--CATEGORY-CHIP-CONTAINER-Z-INDEX);
}
