.singleVideoPage {
  max-width: 120rem;
}

.iFrame_container {
  flex: 1;
}

.iFrame_container > div:nth-child(2) {
  border-bottom: thin solid var(--COLOR-NAVBAR-ACTIVE);
}

.iFrame_container > iframe {
  background: var(--COLOR-NAVBAR-ACTIVE);
}

.iFrame_container svg {
  height: 2rem;
  margin: auto 0.2rem;
  width: 2rem;
}

/* --MD-BREAKPOINT */
@media screen and (max-width: 940px) {
  .singleVideoPage > div:nth-child(2) {
    display: none;
  }
}
