.btnForm_loading {
  align-items: center;
  cursor: not-allowed;
  display: inline-flex;
  justify-content: center;
}

.btnForm_loading:hover {
  background: var(--COLOR-PRIMARY);
}

.btnForm_loading > img {
  max-width: 1.5rem;
  margin-right: 0.5rem;
}

.btnForm {
  background: var(--COLOR-PRIMARY);
  color: var(--COLOR-NAVBAR-ACTIVE);
}

.btnForm:not(.btnForm_loading):hover {
  background: var(--COLOR-PRIMARY-DARK-SHADE);
}

.btnForm svg {
  margin-bottom: -0.2rem;
}
