.dotsIcon_btn {
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--COLOR-TEXT);
  height: 3rem;
  transition: background 0.3s;
  min-width: 3rem;
}

.dotsIcon_btn ul {
  background: var(--COLOR-NAVBAR-BACKGROUND);
  right: 0;
  top: 0;
  transform: translate(-15%, 2rem);
  width: 24ch;
  z-index: var(--VIDEO-CARD-DOTS-ICON-Z-INDEX);
}

.dotsIcon_btn ul li {
  transition: background 0.3s;
}

.listIcon {
  height: 2rem;
  margin-right: 0.5rem;
  width: 2rem;
}

.videoCard_loading {
  width: 30rem;
}

.videoCard h2 {
  -webkit-line-clamp: 2;
}

.dotsIcon_btn:hover,
.dotsIcon_btn ul li:hover,
.videoCard_loading span,
.optionsList_isVisible {
  background: var(--COLOR-NAVBAR-ACTIVE);
}

/* media query for --SM-BREAKPOINT */

@media screen and (max-width: 450px) {
  .videoCard,
  .videoCard_loading {
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    width: 100%;
  }

  .videoCard > div:nth-child(2) {
    justify-content: flex-start;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
