.dotsIcon_span {
  border-radius: 50%;
  height: 3rem;
  transition: background 0.3s;
  min-width: 3rem;
}

.dotsIcon_span ul {
  background: var(--COLOR-NAVBAR-BACKGROUND);
  right: 0;
  top: 0;
  transform: translate(-15%, 2rem);
  width: 24ch;
  z-index: var(--VIDEO-CARD-DOTS-ICON-Z-INDEX);
}

.dotsIcon_span ul li {
  transition: background 0.3s;
}

.listIcon {
  height: 2rem;
  margin-right: 0.5rem;
  width: 2rem;
}

.videoCard_loading {
  width: 30rem;
}

.overlayContent {
  top: 0;
}

.videoCard {
  background: var(--COLOR-MAIN-BACKGROUND);
  margin: 0 1rem 3rem;
}

.videoCard h6 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.videoCard p {
  color: var(--COLOR-TEXT-DARK-SHADE);
}

.dotsIcon_span:hover,
.dotsIcon_span ul li:hover,
.videoCard_loading span,
.optionsList_isVisible {
  background: var(--COLOR-NAVBAR-ACTIVE);
}
