.chip {
  background: var(--COLOR-NAVBAR-ACTIVE);
  border: none;
  border-radius: 2.5rem;
  color: var(--COLOR-TEXT);
  min-width: 7ch;
  transition: background 0.5s;
}

.chip_active {
  background: var(--COLOR-PRIMARY);
  color: var(--COLOR-NAVBAR-ACTIVE);
  font-weight: bold;
}
