.chip {
  background: var(--COLOR-NAVBAR-ACTIVE);
  border-radius: 2.5rem;
  min-width: 7ch;
  transition: background 0.5s;
}

.chip_active {
  background: var(--COLOR-PRIMARY);
  color: var(--COLOR-NAVBAR-ACTIVE);
}
