.Icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto 1rem;
}

.SideNavbar {
  background: var(--COLOR-NAVBAR-BACKGROUND);
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
  position: fixed;
  width: 24rem;
}

.SideNavbar a {
  align-items: flex-end;
  display: flex;
  padding: 1.5rem 1rem;
  transition: background 0.3s;
}

.SideNavbar a:hover,
.Active {
  background: var(--COLOR-NAVBAR-ACTIVE);
}

.SideNavbar span {
  margin: auto 0.5rem;
}
