/* mockman-style */
@import url("https://unpkg.com/mockman-js@latest/dist/style.css");

/* poshui-components */
@import url("https://cdn.jsdelivr.net/gh/hsnice16/PoshUI-Components@development/css/main.min.css");

:root {
  --COLOR-MAIN-BACKGROUND: #44475a;
  --COLOR-NAVBAR-ACTIVE: #343746;
  --COLOR-NAVBAR-BACKGROUND: #2c2e3b;
  --COLOR-PRIMARY: #3ddc97;
  --COLOR-PRIMARY-DARK-SHADE: #34c184;
  --COLOR-TEXT: #ffffff;
  --COLOR-TEXT-DARK-SHADE: #d3d3d3;

  --NAVBAR-Z-INDEX: 4;
  --SIDE-NAVBAR-Z-INDEX: 3;
  --CATEGORY-CHIP-CONTAINER-Z-INDEX: 2;
  --VIDEO-CARD-DOTS-ICON-Z-INDEX: 1;

  --MD-BREAKPOINT: "940px";
}

a {
  color: var(--COLOR-TEXT);
}

body {
  color: var(--COLOR-TEXT);
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  background: var(--COLOR-MAIN-BACKGROUND);
  min-height: 100vh;
  padding-bottom: 5rem;
  transition: margin-left 0.3s;
}

/* override */

::-ms-reveal {
  display: none !important;
}

/* scrollbar */

::-webkit-scrollbar {
  height: 1.5rem;
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--COLOR-TEXT-DARK-SHADE);
  border: thick solid var(--COLOR-MAIN-BACKGROUND);
  border-radius: 5rem;
}

::-webkit-scrollbar-track {
  background: var(--COLOR-MAIN-BACKGROUND);
}

/* utility-classes */

.ml-8 {
  margin-left: 8rem;
}

.ml-24 {
  margin-left: 24rem;
}
